@import '../../globals.scss';

.social-container {
  position: relative;
}

.social-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $default_padding;

  .join-form {
    margin-top: 38px;

    > label {
      display: block;
      font-size: 10px;
      line-height: 10px;
      font-weight: 400;
    }

    > input {
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }
}

.join_success {
  width: 306px;
  height: 243px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  > img {
    margin-bottom: 25px;
  }

  > .close {
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
  }

  > p {
    margin-bottom: 8px;
  }
}
